/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
:root {
    --primary-color: #ffff;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

/* Scrollbar Color Change */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* NavBar section */
.navbar-section {
    background-color: black;
}
.navbar-brand img {
    width: auto;
    height: 60px;
}
/* Home section */
.home-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images//background-img.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.home-section h1 {
    margin: 0;
    font-weight: 700;
    font-size: 80px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 5px;
}
.home-section p {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    padding-bottom: 20px;
}

/* title */
.head-title{
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--primary-color);
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 900;
}

/* cards */
.card-body{
    background-color: black;
}
.card-title{
    margin: 0;
    color: #FFDF00;
    font-family: var(--primary-font);
    font-weight: 900;
}
.card-text{
    color: var(--primary-color);
    font-family: var(--secondary-font);
}

/* footer */
.footer{
    margin-top: 60px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer p{
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}

