/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
:root {
    --white-color: #ffff;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 50px;
}

/* NavBar section */
.navbar-section {
    background-color: black;
}
.navbar-brand img {
    width: auto;
    height: 60px;
}

/* main section */
/* card */
.card-box{
    padding-top: 120px;
    background-color: black;
    width: auto;
    height: auto;
}
.profile-pic-div{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.profile-pic{
    height: 250px;
    width: auto;
    padding-bottom: 20px;
}
.cardbox-head{
    padding-top: 20px;
    padding-bottom: 10px;
}
.cardbox-head h1{
    margin: 0;
    font-family: var(--primary-font);
    font-size: 36px;
    color: var(--white-color);
}
.name{
    color: red;
    text-shadow: 2px 2px #ffffff;
}
.cardbox-about{
    padding-bottom: 20px;
}
.cardbox-about p{
    margin: 0;
    font-family: var(--secondary-font);
    color: var(--white-color);
    font-size: 16px;
}
.cardbox-education{
    padding-bottom: 20px;
}
.cardbox-education ul{
    margin: 0;
}
.cardbox-education li{
    margin: 0;
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--white-color);
    padding-bottom: 15px;
}
.cardbox-education li span{
    color: red;
}
.cardbox-skills{
    padding-bottom: 20px;
}
.cardbox-skills p{
    margin: 0;
    display: inline;
    font-size: 16px;
    font-family: var(--secondary-font);
}
.badge-icon{
    background-color: red;
    color: var(--white-color);
}
.sub-head{
    margin: 0;
    font-size: 24px;
    font-family: var(--primary-font);
    color: var(--white-color);
    font-weight: 700;
    padding-bottom: 10px;
}
.cardbox-contact{
    padding-bottom: 20px;
}
.cardbox-contact p{
    margin: 0;
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--white-color);
    padding-bottom: 10px;
}
.cardbox-contact p a{
    text-decoration: none;
    color: var(--white-color);
}
.cardbox-contact p a:hover{
    text-decoration: underline;
    color: red;
}

/* footer */
.footer{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer h6{
    margin: 0;
    text-transform: uppercase;
    text-align: right;
    color: white;
    font-family: var(--white-color);
    font-size: 16px;
    font-weight: 600;
}
.hashtags{
    text-align: right;
    margin: 0;
    color: red;
}